<h1>Reviews for <%= link_to@movie.title, @movie %>  </h1>

<ul class="reviews">
<% @reviews.each do |review| %>
<li>

<%= pluralize(review.stars, 'star') %> by <%= link_to review.user.name, review.user %>:
       <%= link_to review.comment, movie_review_path(@movie, review) %> &bull;
       <%= link_to "edit", edit_movie_review_path(@movie, review), class: "button" %>
       <%= link_to "delete", movie_review_path(@movie, review), class: "button", method: :delete, data: { confirm: "Delete Review?" }%>



</li>
<% end %>
</ul>

<section class="movie-details">
    <%= link_to "Write Review", new_movie_review_path(@movie), class: "review" %>
</section>
